// Начните писать стили здесь

.catalog__item {
display: flex;
flex-wrap: wrap;
justify-content: flex-start;
margin-bottom: 25px;
align-items: flex-start;
}

.catalog__descriptions{
font-family: "Arial";
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 16px;
text-align: center;
color: #444444;
}

.catalog__descriptions--title{
font-family: "Oswald";
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
align-items: center;
text-transform: uppercase;
color: #222222;
}
