// Начните писать стили здесь
.cooperation {
padding:  0px ;
background-color: #FFFFFF;
}
.cooperation--background{
  background-color: #F2F2F2;
}
.cooperation__wrapper-background {
  background-color: #F2F2F2;
}

.cooperation__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 28px 0px;
}

.cooperation__invite {
display: block;
font-family: "Oswald";
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
text-transform: uppercase;
color: #111111;
margin: 0;
}

.cooperation__address {
display: block;
font-family: "Arial";
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
color: #444444;
margin: 0;
}

@media (min-width: @tablet-width) {

  .cooperation {
    background-color: white;
    box-sizing: border-box;

  }

  .cooperation--background{
    background-color: #F2F2F2;
  }
  .cooperation__wrapper-background {
    background-color: #F2F2F2;
  }

  .cooperation__wrapper {
    padding: 62px 72px 58px 71px ;
  }


  .cooperation__invite {
    display: block;
    font-size: 20px;
    line-height: 21px;
    margin: 0;
    max-width: 171px ;
    height: min-content;
    }

    .cooperation__address {
    display: block;
    font-size: 16px;
    line-height: 20px;
    max-width: 160px ;
    text-align: end;
    height: min-content;

    }
    .cooperation--spb {
      margin-top: 20px;
      display: block;
  }


}

@media (min-width: @desktop-width) {
  .cooperation {
    position: relative;
  }
  .cooperation__wrapper-background {
    background-color: #F2F2F2;
  }
  .cooperation__wrapper {
    position: absolute;
    width: 570px;
    height: 201px;
    left: 110px;
    top: 95px;
    z-index: 5;
    box-sizing: border-box;
    background-color: #FFFFFF;
  }

  .cooperation__invite {

    margin: 0;
    max-width: 163px ;
    margin-right: 87px;
    }

    .cooperation__address {

    margin: 0;
    max-width: 155px ;
    text-align: start;
    }
}
