// Начните писать стили здесь
.cooperation {
padding: 28px 0px ;
display: flex;

}
.cooperation__invite {
display: block;
font-family: "Oswald";
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
text-transform: uppercase;
color: #111111;
margin: 0;
}

.cooperation__address {
display: block;
font-family: "Arial";
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
color: #444444;
margin: 0;
}

@media (min-width: @tablet-width) {

  .cooperation {
    padding: 76px 66px;
    display: flex;
    background-color: white;
    min-height: 201px;
    box-sizing: border-box;
    position: absolute;
    z-index: 2;
    min-width: 570px;
    min-height: 201px;
    justify-content: space-between;
    top: 3700px;

  }
  .cooperation__invite {
    display: block;
    font-size: 20px;
    line-height: 21px;
    margin: 0;
    max-width: 171px ;
    height: min-content;
    }

    .cooperation__address {
    display: block;
    font-size: 16px;
    line-height: 20px;
    max-width: 160px ;
    text-align: end;
    height: min-content;

    }
.cooperation-white-background {
  background-color: white;
}
}

@media (min-width: @desktop-width) {
  .cooperation {
    position: absolute;
    width: 570px;
    height: 201px;
    left: 110px;
    top: 2168px;
    z-index: 5;
  }

  .cooperation__invite {

    margin: 0;
    max-width: 163px ;
    margin-right: 87px;
    }

    .cooperation__address {

    margin: 0;
    max-width: 155px ;
    text-align: start;
    }
}
