// Начните писать стили здесь

.form__questionary-header {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;

}
.form__questionary-input-list {
display: flex;
flex-wrap: wrap;
flex-direction: column;
list-style: none;
padding: 0;
}

.form__questionary-label{
font-family: "Oswald";
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 18px;
text-transform: uppercase;
color: #444444;
}

.form__questionary-input {
max-width: 228px;
Height: 45px;
margin-bottom: 14px;
}

.form__radio {
display: flex;
flex-wrap: wrap;
flex-direction: column;
list-style: none;
padding: 0;
}

.form__radio-label {
font-family: "Oswald";
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 18px;
text-transform: uppercase;
color: #222222;
}

.form-style {
font-family: "Oswald";
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 26px;
color: #000000;
margin: 0;
}

.form__comments-textarea {
width: 280px;
height: 150px;
box-sizing: border-box;
font-family: Oswald;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 18px;
text-transform: uppercase;
border: 1px solid #E7E7E7;
resize: none;
}

.form__extra-label {
  font-family: "Oswald";
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 18px;
align-items: center;
text-transform: uppercase;
color: #000000;

}

.form__extra-input-list{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.form__note {
font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
align-items: center;
text-align: center;
color: #000000;
margin: 0;
  }
