// Начните писать стили здесь
.page-header {
  padding: 10px 0 14px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #D9D9D9;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 27px;
  width: 280px;
}

// .navigation__toggle-checkbox:checked .page-header{
//   display: flex;
//   flex-direction: column;
//   position: relative;
// }

.page-header--desktop-background {
  position: relative;
  margin-bottom: 0;
}

.page-header__logo-cat svg:hover {
opacity:0.75 ;
}

.page-header__logo-cat svg:focus {
  opacity:0.5 ;
}

@media (min-width: @tablet-width) {
  .page-header {
    display: flex;
    border-bottom: none;
    justify-content: space-between;
    min-height: 115px;
    box-sizing: border-box;
  }
  .page-header--desktop-background::after {
   display: none;
  }

  .page-header--desktop-background::before {
    display: none;
  }
  .page-header__logo-cat {
    display: none;
  }

  .page-header__logo-text svg {
    display: none;
  }

  .page-header__logo-text {
    min-width: 174px;
    Height: 52px;
    background-image: url("../img/logo-tablet-header-cat-and-text.svg");
    background-repeat: no-repeat;
    margin-right: 94px;
  }

  .page-header__logo-text:hover{
    opacity: 0.75;
  }
  .page-header__logo-text:focus{
    opacity: 0.5;
  }

}

@media (min-width: @desktop-width) {

  .page-header {
    display: flex;
    border-bottom: none;
    justify-content: flex-start;

    min-height: 220px;
    box-sizing: border-box;

  }

  .page-header__logo-text {
    min-width: 202px;
    Height: 59px;
    background-image: url("../img/logo-tablet-header-cat-and-text.svg");
    background-repeat: no-repeat;
    margin-right: 538px;
  }

  .page-header--desktop-background {
    position: relative;
  }
}
