// Начните писать стили здесь
.site-list__item {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  list-style: none;
  text-align: center;
  padding-top: 22px;
  box-sizing: border-box;
}

.site-list__item a{
  text-decoration: none;
  color: #000000;
}
