// Начните писать стили здесь

.features__heading {
font-family: "Oswald";
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 40px;
text-align: center;
color: #000000;
}

.features__list {
display: flex;
flex-wrap: wrap;
list-style: none;
font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
color: #444444;
}

.features-item:last-child{
  margin-bottom: 42px;
}
