// Начните писать стили здесь
.example {
  background-color: #EAEAEA;

  padding-top: 27px;
  box-sizing: border-box;
  min-height: 705px;
}

.example__upper-slider {
  margin: 0 auto;
  padding: 0;
  width: 280px;
}

.example__header {
  font-family: "Oswald";
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  width: 280px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 33px;

}

.example__description {
  font-family: "Arial";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0;
  margin-bottom: 25px;

}

.example--style {

  border: 1px solid #CDCDCD;
  box-sizing: border-box;
  padding-top: 14px;
  border-radius: 3px;
  flex-wrap: nowrap;
  width: 124px;
  height: 56px;
  position: relative;
  align-items: center;
}

.example-value {
  font-family: "Oswald";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  display: block;
}

.example__days-description,
.example__weight-description{
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  display: block;
  align-items: center;
  text-align: center;
  color: #444444;
  position: absolute;
  width: 82px;
  height: 31px;
  left: 19px;
  top: 47px;
  background-color: #EAEAEA;
}

.example__weight-and-days {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example__expenses {
  font-family: "Oswald";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 42px;
  margin-top: 34px;
  margin-left: 46px;
}

.example__cat-img {
  margin-bottom: 27px;

}

.example__slider {
  display: flex;
  justify-content: space-between;
 margin: 0 auto;
 width: 280px;
}

.example__slider--style {
  font-family: "Oswald";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.slider-bar {
  border: 1px solid #CDCDCD;
  width: 84px;
  background: #FFFFFF;
  border-radius: 6px;
  height: 14px;
  position: relative;
}

.slider-bar::after {
  background: #68B738;
  box-sizing: border-box;
  width: 35px;
  height: 6px;
  position: absolute;
  content: "";
  left: 6px;
  bottom: 4px;
  border-radius: 6px;

}

@media (min-width: @tablet-width) {

  .example {
    background-color: white;
    padding-left: 0;
    padding-right: 0;
    padding-top: 43px;
    box-sizing: border-box;
    min-height: 1081px;

  }

  .example__upper-slider {
    margin: 0 auto;
    padding: 0;
    width: 708px;
  }

  .example__header {
    width: 708px;
    margin: 0 auto;
    padding: 0;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
    display: block;

  }

  .example__description {

    font-size: 16px;
    line-height: 24px;
    color: #444444;
    margin: 0;
    margin-bottom: 54px;


  }

  .example--style {

    border: 1px solid #CDCDCD;
    box-sizing: border-box;
    padding-top: 14px;
    border-radius: 3px;
    flex-wrap: nowrap;
    width: 162px;
    height: 72px;
    position: relative;
    align-items: center;
  }

  .example-value {

    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #000000;
    display: block;
  }

  .example__days-description,
  .example__weight-description {
    font-family: "Arial";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    display: block;
    align-items: center;
    text-align: center;
    color: #444444;
    position: absolute;
    width: 114px;
    height: 50px;
    left: 24px;
    top: 53px;
    background-color: white;
    box-sizing: border-box;
    padding-top: 10px;
  }
.example-description-time{
width: 142px;
left: 10px;
}
  .example__weight-and-days {
    display: flex;
    justify-content: space-between;
    margin: 0;
    min-height: 330px;
    flex-wrap: nowrap;
  }

  .example__expenses {
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: #000000;
    margin: 0;
    max-width: 175px;
    text-align: end;

  }

  .example__slider-wrapper {
    width: 100%;
    background-color: #EAEAEA;
  }

  .example__slider {
    display: flex;
    justify-content: space-between;
    min-height: 462px;
    background-color: #EAEAEA;
    position: relative;
    z-index: 2;
    align-items: flex-end;
    box-sizing: border-box;
width: 708px;
    padding: 0px 69px 70px 67px;
  }

  .example__slider--style {
    display: block;
    margin: 0;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
    height: min-content;
  }

  .example__cat-img {
    display: none;
  }

  .example__slider::before {
    position: absolute;
    content: "";
    background-image: url("../img/img-tablet-half-cat.png");
    width: 708px;
    height: 620px;
    left: calc(50% - 354px);
    bottom: 33px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/img-tablet-half-cat-@2x.png");
      background-size: 708px auto;
    }
  }

  .slider-bar {
    width: 428px;
    background: #DCDCDC;
    border-radius: 6px;
    height: 6px;
    position: relative;
  }

  .slider-bar::before {
    background: #FFFFFF;
    border: 1px solid #CDCDCD;
    box-sizing: border-box;
    width: 34px;
    height: 34px;
    position: absolute;
    content: "";
    left: 205px;
    bottom: -13px;
    border-radius: 34px;
  }

  .slider-bar::after {
    background: #68B738;
    box-sizing: border-box;
    width: 8px;
    height: 8px;
    position: absolute;
    content: "";
    left: 218px;
    bottom: -1px;
    border-radius: 8px;
  }

}

@media (min-width: @desktop-width) {

  .example {
    display: flex;
    flex-direction: row;
    min-height: 598px;
    flex-wrap: wrap;
    padding-top: 0;
    min-width: 1220px;
    padding: 0;
    margin: 0 auto;
    background: #F2F2F2;
  }

  .example__content {
    display: flex;
    justify-content: space-between;
    min-width: 1220px;
    margin: 0 auto;

  }

  .example__header-wrapper {
    width: 100%;
    background: white;
  }

  .example__header {
    margin-bottom: 0;
    margin: 0 auto;
    padding: 0;
    width: 1220px;
    background-color: #FFFFFF;
  }

  .example__upper-slider {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 440px;
  }

  .example__description {
    margin: 0;
    width: 436px;
    height: 96px;
    margin-top: 70px;

  }

  .example__weight-and-days {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    min-height: 152px;
    max-width: 370px;
  }

  .example__days-description,
  .example__weight-description {
    background-color: #F2F2F2;
  }

  .example__expenses {
    max-width: 327px;
  }

  .example--style {

    border: 1px solid #CDCDCD;
    box-sizing: border-box;
    padding-top: 14px;
    border-radius: 3px;
    flex-wrap: nowrap;
    width: 162px;
    height: 72px;
    position: relative;
    align-items: center;
  }

  .example__slider-wrapper {
    display: flex;
    width: min-content;

  }

  .example__slider {
    min-height: 50px;
    justify-content: flex-start;
    max-width: 570px;
    background-color: #F2F2F2;
    padding: 0;
    padding-bottom: 70px;
  }

  .example__slider::before {
    position: absolute;
    content: "";
    background-image: url("../img/img-desktop-half-cat.png");
    width: 690px;
    height: 656px;
    left: calc(50% - 345px);
    bottom: 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/img-desktop-half-cat-@2x.png");
      background-size: 690px auto;
    }

  }

  .slider-bar {
    margin-left: 24px;
    margin-right: 19px;
  }
}
