// Начните писать стили здесь
.pumping {
background: #F2F2F2;
margin-bottom: 27px;
min-height: 266px;
position: relative;
padding-top: 30px;
padding-left: 20px;
box-sizing: border-box;
}

.pumping::after{
content: "";
position: absolute;
width: 67px;
height: 50px;
background-image: url("/img/img-mobile-cat-walk.png");
top: 24px;
left: 13px;
  }

  .pumping__header {
  font-family: "Oswald";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-left: 71px;
margin-bottom: 29px;
  }

  .pumping__text {
  font-family: "Arial";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  max-width: 227px;
display: block;
margin-bottom: 42px;
  }

  .pumping__link {
  font-family: "Oswald";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  }

  @media (min-width: @tablet-width) {
    .pumping {
      background: #F2F2F2;
      width: 100%;
      margin-bottom: 20px;
      min-height: 266px;
      position: relative;
      padding-top: 77px;
      padding-left: 52px;
      padding-bottom: 57px;
    }
    .pumping::after {
      content: "";
      position: absolute;
      width: 268px;
      height: 200px;
      background-image: url("../img/img-tablet-cat-walk.png");
      background-repeat: no-repeat;
      top: 91px;
      left: 412px;
    }

    .pumping__header {
      margin-bottom: 24px;
      margin-left: 0;
      font-size: 36px;
    line-height: 36px;
    }

  .pumping__text {
    max-width: 340px;
    font-size: 16px;
  line-height: 24px;
  margin-bottom: 52px;
  }

  .pumping__link {
    font-family: "Oswald";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
  }
  }

  @media (min-width: @desktop-width) {

  .pumping {
    width: 570px;
    background: #F2F2F2;
    margin: 0;
    min-height: 266px;
    position: relative;
    padding: 77px 51px 59px 52px;
    height: 374px;

  }
  .pumping::after {
    content: "";
    position: absolute;
    width: 134px;
    height: 100px;
    background-image: url("../img/img-desktop-cat-walk.png");
    top: 47px;
    left: 32px;
  }


  .pumping__header {
    margin-bottom: 0;
    margin-left: 0;
    text-align: center;
    margin-bottom: 73px;
}

  .pumping__text {
    max-width: 570px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 27px;
  }
}
