// Начните писать стили здесь
.promo {
display: flex;
align-items: flex-start;
flex-wrap: wrap;
justify-content: flex-start;
box-sizing: border-box;
margin-bottom: 22px;
}

.promo__descriptions-wrapper {
  background: rgba(104, 183, 56, 0.85);
  background-image: url("/source/img/img-mobile-cat-tongue.jpg");
}

.promo__title {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  padding-left: 35px;
  padding-right: 35px;

  }

  .promo__slogan {
font-family: Oswald;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 14px;
text-transform: uppercase;
color: #FFFFFF;
}
