// Начните писать стили здесь

.features {
padding-left: 20px;
padding-right: 20px;
box-sizing: border-box;
margin-bottom: 22px;
}

.features__heading {
display: block;
font-family: "Oswald";
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 40px;
color: #000000;
margin-bottom: 40px;
}

.features__list {
display: flex;
flex-wrap: wrap;
list-style: none;
font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
color: #444444;
padding: 0;
margin: 0;
}

.features__item {
  display: flex;
  margin-bottom: 20px;
}

.features-icon {
  margin-right: 20px;
}

.features-description  {
  margin: 0;
}
