// Начните писать стили здесь
.slimming {
background: #F2F2F2;
margin-bottom: 20px;
}

.slimming__header {
font-family: "Oswald";
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 37px;
text-transform: uppercase;
color: #000000;
}
.slimming__text {
font-family: "Arial";
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
color: #444444;
}

.slimming__link {
font-family: "Oswald";
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 16px;
text-align: center;
text-transform: uppercase;
color: #000000;
}
