// Начните писать стили здесь


@media (min-width: @tablet-width) {

  .slim-pump {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
    flex-wrap: wrap;
  }
}

@media (min-width: @desktop-width) {
  .desktop--flex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 71px;
  }

}



