// Начните писать стили здесь
.example {
  background-color: #EAEAEA;
}

.example__header {
font-family: "Oswald";
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 40px;
text-align: center;
color: #000000;
margin-bottom: 33px;
}

.example__description {
font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
color: #444444;
}

.example--style {

border: 1px solid #CDCDCD;
box-sizing: border-box;
border-radius: 3px;
display: flex;
justify-content: space-between;
flex-wrap: nowrap ;
width: 124px;
}

.example-value {
font-family: "Oswald";
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 24px;
text-align: center;
color: #000000;
display: block;
}

.example-description {
font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 12px;
display: block;
align-items: center;
text-align: center;
color: #444444;
}

.example__expenses {
font-family: "Oswald";
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
text-align: center;
text-transform: uppercase;
color: #000000;
}

.example__slider {
  display: flex;
  justify-content: space-between;
}

.example__slider--style {
font-family: "Oswald";
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
text-transform: uppercase;
color: #000000;
}
