// Начните писать стили здесь
.mobile-button {
padding: 8px 44px;
width: 280px;
height: 40px;
background: #68B738;
font-family: "Oswald";
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
align-items: center;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
}
